﻿@using PHIWIKI.Models


@*<div class="page-container">*@
<!-- HEADER DESKTOP-->
<div class="page-container">
    <div class="main-content">
        <div class="section_content section_content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Review Form</strong>
                            </div>
                            <div class="card-body card-block">
                                <div class="container-login100-form-btn">
                                    <div class="col-md-offset-2">
                                        <p class="text-center">
                                            <label class="text-success">@TempData["review"] </label>
                                        </p>
                                    </div>
                                </div>


                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">Book</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="jenisbuku" id="select" class="form-control">
                                                <option>Please select</option>
                                                @foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
                                                {

                                                    <option value="@item.namabuku">@item.namabuku</option>


                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="textarea-input" class=" form-control-label">Review</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea name="review" id="textarea-input" rows="9" placeholder="Review" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-dark">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>


                                        <button type="reset" class="btn btn-secondary">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
