﻿@using PHIWIKI.Models
@model IEnumerable<PHIWIKI.Models.View_role_customer>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Master Account </h2>                        
                    </div>
                      <div>
                        <label class="alert-success">@TempData["message"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Nim</th>
                                    <th>Faculty</th>
                                    <th>Campus</th>
                                    <th>Phone Number</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.nama_user</td>
                                        <td>@item.email</td>
                                        <td>@item.nim</td>
                                        <td>@item.fakultas</td>
                                        <td>@item.kampus</td>
                                        <td>@item.no_hp</td>
                                        <td>@item.role_name</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.user = new
                                                    {
                                                        id = item.Expr1,
                                                        role = item.id_role,
                                                        nama = item.nama_user,
                                                        username = item.username,
                                                        email = item.email,
                                                        nim = item.nim,
                                                        fak = item.fakultas,
                                                        kam = item.kampus,
                                                        no = item.no_hp,
                                                        pass = item.password_user,
                                                        sta = item.status,
                                                        code = item.code
                                                        //conpass = item.confirmpassword

                                                    };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.user = new
                                                    {
                                                            id = item.Expr1
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.user = new
    {
        id = item.Expr1
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterCostumer", new { id = ViewBag.user.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@



@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.user = new
    {
        id = item.Expr1,
        role = item.id_role,
        nama = item.nama_user,
        email = item.email,
        username = item.username,
        nim = item.nim,
        fak = item.fakultas,
        kam = item.kampus,
        no = item.no_hp,
        pass = item.password_user,
        sta = item.status,
        code = item.code
        //conpass = item.confirmpassword
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterCostumer")">
                        <input type="hidden" name="id_user" value="@ViewBag.user.id" />
                        <input type="hidden" name="nama_user" value="@ViewBag.user.nama" />
                        <input type="hidden" name="email" value="@ViewBag.user.email" />
                        <input type="hidden" name="nim" value="@ViewBag.user.nim" />
                        <input type="hidden" name="fakultas" value="@ViewBag.user.fak" />
                        <input type="hidden" name="kampus" value="@ViewBag.user.kam" />
                        <input type="hidden" name="no_hp" value="@ViewBag.user.no" />
                        <input type="hidden" name="password_user" value="@ViewBag.user.pass" />
                        <input type="hidden" name="status" value="@ViewBag.user.sta" />
                        <input type="hidden" name="confirmpassword" value="@ViewBag.user.pass" />
                        <input type="hidden" name="code" value="@ViewBag.user.code" />
                        <input type="hidden" name="username" value="@ViewBag.user.username" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Role</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="fk_id_role" id="select" class="form-control" value="@ViewBag.user.role">
                                    <option>Please select</option>
                                    @foreach (var role in ViewData["role"] as IEnumerable<tbl_role>)
                                    {
                                        <option value="@role.id_role">@role.role_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>