﻿@model IEnumerable<PHIWIKI.Models.tbl_reimburse>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">View Reimburse</h2>                       
                    </div>
                    <br />

                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Divition</th>
                                    <th>Details</th>
                                    <th>Total Expenditur</th>
                                    <th>Receipt</th>
                                    <th>Confirmation Receipt</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.nama</td>
                                        <td>@item.divisi</td>
                                        <td>@item.keterangan</td>
                                        <td>@item.total_pengeluaran</td>
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@number" onclick="@{
                                                    ViewBag.reimburse = new
                                                    {
                                                         id = item.id_reimburse,
                                                         gam = item.konfirmasi1
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.konfirmasi1)" alt="test" />
                                            </button>
                                        </td>
                                        <td>@item.konfirmasi2</td>


                                        
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*image*@
@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.reimburse = new
    {
        id = item.id_reimburse,
        gam = item.konfirmasi1
    };
    <div class="modal fade" id="image_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.reimburse.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    num++;
}
@*image*@

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>