﻿@model IEnumerable<PHIWIKI.Models.View_review>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Mater Review </h2>
                    </div>                   
                    <br />
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    @*<th>Id User</th>*@
                                    <th>Name</th>
                                    <th>Review</th>
                                    <th>Book Type</th>
                                    <th>Email</th>
                                    @*<th>Student ID</th>*@
                                    <th>Faculty</th>
                                    <th>Campus</th>
                                    <th>Phone Number</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        @*<td>@item.id_user</td>*@
                                        <td>@item.nama_user</td>
                                        <td>@item.review</td>
                                        <td>@item.jenisbuku</td>
                                        <td>@item.email</td>
                                        @*<td>@item.nim</td>*@
                                        <td>@item.fakultas</td>
                                        <td>@item.kampus</td>
                                        <td>@item.no_hp</td>
                                        


                                        <td>
                                                <div class="table-data-feature">                                                    
                                                    <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                        ViewBag.review = new
                                                        {
                                                                id = item.id_layanan_review
                                                        };
                                                    } ">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                            </td>
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>

    @{int no = 1; }
    @foreach (var item in Model)
    {
        ViewBag.review = new
        {
            id = item.id_layanan_review
        };
        <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete item?
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Yes", "Delete", "MasterReview", new { id = ViewBag.review.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        no++;
    }
  