﻿@model IEnumerable<PHIWIKI.Models.tbl_tutorial>

@{
   
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Master Tutorial </h2>
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#quiz">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <div>
                        <label class="alert-success">@TempData["tutorial"]</label>
                        <label class="alert-danger">@TempData["error"]</label>
                    </div>
                    <br />

                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    @*<th>id video</th>*@
                                    <th>Video Title</th>
                                    <th>Video</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        @*<td>@item.id_tutorial</td>*@
                                        <td>@item.deskripsi</td>
                                        <td>
                                            <video style="widht:250px; height:250px" controls>
                                                <source src="@Url.Content(item.video)" type="video/mp4" />
                                            </video>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.tutorial = new
                                                    {
                                                            id = item.id_tutorial,
                                                            N = item.deskripsi,
                                                            V = item.video
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_tutorial
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*CREATE*@
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","MasterTutorial")">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Video Title </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="deskripsi" placeholder="Insert Video Title" class="form-control" >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-input" class=" form-control-label">File input</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="file-input" name="VideoFile" class="form-control-file">
                            <small class="form-text text-muted"> upload video </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit

                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*END CREATE*@

@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.tutorial = new
    {
        id = item.id_tutorial,
        N = item.deskripsi,
        V = item.video
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterTutorial")">
                        <input type="hidden" name="id_tutorial" value="@ViewBag.tutorial.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Video Title </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="deskripsi" placeholder="Insert Video Title" class="form-control" value="@ViewBag.tutorial.N">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">File input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="VideoFile" class="form-control-file" value="@ViewBag.tutorial.V">
                                <small class="form-text text-muted"> upload video </small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.tutorial = new
    {
        id = item.id_tutorial
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterQuiz", new { id = ViewBag.tutorial.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@

