﻿@model PHIWIKI.Models.tbl_tutorial

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewTutorial</title>
</head>
<body>
    <div>
        <h4>tbl_tutorial</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id_tutorial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_tutorial)
            </dd>
    
            <dt>
                <video style="widht:250px; height:250px" controls>
                    <source src="@Url.Content(Model.video)" type="video/mp4" />
                </video>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.video)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
