﻿@model IEnumerable<PHIWIKI.Models.Jne>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section_content section_content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Pickup / Delivery </h2>
                        <br />
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#create">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">

                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Code</th>
                                    <th>Fare</th>
                                    <th>Estimation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.origin</td>
                                        <td>@item.destinasi</td>
                                        <td>@item.destinasi_code</td>
                                        <td>@item.tarif_reg</td>
                                        <td>@item.est_reg</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.Jne = new
                                                    {
                                                        id = item.Id,
                                                        O = item.origin,
                                                        D = item.destinasi,
                                                        C = item.destinasi_code,
                                                        T = item.tarif_reg,
                                                        E = item.est_reg
                                                    };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.order = new
                                                    {
                                                        id = item.Id
                                                    };
                                                    } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Delivery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","PickupDelivery")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Origin</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="origin" placeholder="Insert Origin" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Destination</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="destinasi" placeholder="Insert Destination" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Code</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="destinasi_code" placeholder="Insert Code" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Fare</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="tarif_reg" placeholder="Insert Fare" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Estimation</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="est_reg" placeholder="Insert Estimation" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit

                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.Jne = new
    {
        id = item.Id,
        O = item.origin,
        D = item.destinasi,
        C = item.destinasi_code,
        T = item.tarif_reg,
        E = item.est_reg
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Delivery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","PickupDelivery")">
                        <input type="hidden" name="Id" value="@ViewBag.Jne.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Origin</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="origin" placeholder="Insert Origin" class="form-control" value="@ViewBag.Jne.O">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Destination</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="destinasi" placeholder="Insert Destination" class="form-control" value="@ViewBag.Jne.D">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Code</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="destinasi_code" placeholder="Insert Code" class="form-control" value="@ViewBag.Jne.C">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Fare</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="tarif_reg" placeholder="Insert Fare" class="form-control" value="@ViewBag.Jne.T">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Estimation</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="est_reg" placeholder="Insert Estimation" class="form-control" value="@ViewBag.Jne.E">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}


@*@DELETE@*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.Jne = new
    {
        id = item.Id
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "PickupDelivery", new { id = ViewBag.Jne.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*@END DELETE@*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>