﻿@model IEnumerable<PHIWIKI.Models.tbl_jawaban_quiz>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section_content section_content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">User's Quiz Answer </h2>                        
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                        <label class="alert-success">@TempData["error"]</label>
                    </div>
                    <br />

                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name User</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>Score</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.nama</td>
                                        <td>@item.jawaban_quiz</td>
                                        <td>@item.jawaban_benar2</td>
                                        <td>@item.jawaban_benar3</td>
                                        <td>@item.statusjawaban</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Send Email" data-toggle="modal" data-target="#email_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.fk_id_user
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-email"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_jawaban_quiz
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.quiz = new
    {
        id = item.id_jawaban_quiz
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "JawabanQuiz", new { id = ViewBag.quiz.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*@END DELETE@*@



@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.quiz = new
    {
        id = item.fk_id_user
    };
    <div class="modal fade" id="email_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Send email to the winner?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Email", "JawabanQuiz", new { id = ViewBag.quiz.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    num++;
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>