﻿@using PHIWIKI.Models

<div class="main-content">
    <div class="section_content section_content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Reimbursement</strong>
                        </div>
                        <div class="card-body card-block">

                            <div class="container-login100-form-btn">
                                <div class="col-md-offset-2">
                                    <p class="text-center">
                                        <label class="text-success">@TempData["Reim"] </label>
                                    </p>
                                </div>
                            </div>

                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Name </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" name="nama" placeholder="Name" value="@Session["username"].ToString()" readonly class="form-control">

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Division</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" name="divisi" placeholder="Name" value="@Session["namarole"].ToString()" readonly class="form-control">

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Total </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" id="text-input" name="total_pengeluaran" placeholder="Total" class="form-control">
                                        <small class="form-text text-muted"> input total, example : 50000 </small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Details</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="keterangan" id="textarea-input" rows="9" placeholder="Details" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-input" class=" form-control-label">File input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="ImageFile" class="form-control-file">
                                        <small class="form-text text-muted"> input receipt of payment (jpg/jpeg)</small>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#reimburse">
                                        <i class="fa fa-dot-circle-o"></i> Reimburse
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


