﻿@model PHIWIKI.Models.tbl_reimburse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>tbl_reimburse</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id_reimburse)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_reimburse)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_pengeluaran)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_pengeluaran)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.keterangan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.keterangan)
            </dd>
    
            <dt>
                <img src="@Url.Content(Model.konfirmasi1)" width="250" height="250" />
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.konfirmasi1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.konfirmasi2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.konfirmasi2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fk_id_user)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fk_id_user)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.divisi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.divisi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
