﻿@using System.Globalization;
@model IEnumerable<PHIWIKI.Models.view_myorder_transaksi>

@{

}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Book type</th>
                                    <th>Quantity</th>
                                    <th>Price/item</th>
                                    <th>Total price</th>
                                    <th></th>
                                    @*<th class="text-right">price</th>
                                        <th class="text-right">quantity</th>
                                        <th class="text-right">total</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.namabuku</td>
                                        <td>@item.jumlah_buku</td>
                                        <td>@item.harga_satuan.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        <td>@item.harga_total.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.transaksi = new
                                                    {
                                                            id = item.id_transaksi_buku,
                                                            N = item.jumlah_buku,
                                                            harga = item.harga_satuan
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                   ViewBag.transaksi = new
                                                    {
                                                            id = item.id_transaksi_buku
                                                    };
                                                    }">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    number++;
                                }
                            </tbody>
                        </table>


                    </div>
                    <div class="col-4">
                        <a href="@Url.Action("MyOrder","Order")" type="button" class="btn btn-dark">
                            <i class="fa fa-dot-circle-o"></i> Checkout
                        </a>
                    </div>
                    @*<li>
                            <a href="@Url.Action("MyOrder","Order")">
                                <span class="bot-line"></span>checkout
                            </a>
                        </li>*@

                </div>
            </div>
        </div>
    </div>
</div>

@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.transaksi = new
    {
        id = item.id_transaksi_buku,
        N = item.jumlah_buku,
        harga = item.harga_satuan

    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Quantity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","Order")">
                        <input type="hidden" name="id_transaksi_buku" value="@ViewBag.transaksi.id" />
                        <input type="hidden" name="harga_satuan" value="@ViewBag.transaksi.harga" />
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Quantity</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="jumlah_buku" placeholder="Insert Quantity" class="form-control" value="@ViewBag.transaksi.N">
                                @*<small class="form-text text-muted">This is a help text</small>*@
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}


@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.transaksi = new
    {
        id = item.id_transaksi_buku

    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "Order", new { id = ViewBag.transaksi.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}





