﻿@using PHIWIKI.Models
@model IEnumerable<PHIWIKI.Models.tbl_transaksi_buku>

@{

}

<div class="page-container">

    <div class="main-content">
        <div class="section_content section_content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            @*<div class="card-header">
                                    <strong>Book Order</strong>
                                </div>*@
                            <div class="card-body card-block">
                                <div class="container-login100-form-btn">
                                        <div class="col-md-offset-2">
                                            <p class="text-center">
                                                <label class="text-success">@TempData["order"] </label>
                                                <label class="text-danger">@TempData["failed"] </label>
                                            </p>
                                        </div>
                                    </div>

                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Name </label>
                                            @* @Html.EditorFor(model => model.nama_user , new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "username", @placeholder = "Username" } })*@
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="text-input" name="text-input" placeholder="Name" value="@Session["username"].ToString()" readonly class="form-control">

                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Origin </label>
                                            @* @Html.EditorFor(model => model.nama_user , new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "username", @placeholder = "Username" } })*@
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="text-input" name="text-input" placeholder="Name" value="Bandung" readonly class="form-control">

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="textarea-input" class=" form-control-label">Address</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea name="address" id="textarea-input" rows="9" placeholder="Address" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">Destination</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="idJne" id="idJne" class="form-control">
                                                @*<option>Please select</option>*@
                                                @foreach (var item in ViewData["Deliv"] as IEnumerable<Jne>)
                                                {

                                                    <option value="@item.Id">@item.destinasi (@item.destinasi_code) </option>
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Total Book Price </label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            @*<input type="text" id="text-input" name="harga_total" placeholder="Total" value="@TempData["total"]" class="form-control">*@
                                            <label class="text-center" id="totalbayar">
                                                @{int total = 0; }
                                                @foreach (var item in Model)
                                                {
                                                    total = total + item.harga_total;
                                                }
                                                <td>Rp. @total</td>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Total Payments</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            @*<input type="text" id="text-input" name="harga_total" placeholder="Total" value="@TempData["total"]" class="form-control">*@
                                            <label class="text-center" id="totalsemua"> @ViewData["totalsemua"] </label>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            @*<label </label>*@
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <button type="button" id="btn_submit" class="btn btn-secondary">
                                                <i class="fa fa-money-bill"></i> Click here for total payments
                                            </button>
                                            <small class="form-text text-muted"> Total Book Price + Delivery fee</small>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="file-input" class=" form-control-label">File input</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="file" id="file-input" name="ImageFile" class="form-control-file">
                                            <small class="form-text text-muted"> input receipt of payment (Jpg/Jpeg)</small>
                                            <small class="form-text text-muted"> BCA bank account : 008080883 </small>
                                            <small class="form-text text-muted">  account holder : Phiwiki </small>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-dark">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                    </div>


                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $("#btn_submit").click(function () {
            var Ongkir = new Object();
            Ongkir.Qty = $('#idJne').val();
            if (Ongkir != null) {
                $.ajax({
                    type: "POST",
                    url: "AjaxPostCallOngkir",
                    data: JSON.stringify(Ongkir),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            //alert("Qty : " + response.Qty);
                            $("#totalsemua").html("Rp. " + response.Qty);
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    </script>


