﻿@using PHIWIKI.Models
@using System.Globalization;



<div class="page-container2">
    <div class="main-content">
        <div class="section_content section_content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Book Order</strong>
                            </div>
                            <div class="card-body card-block">
                                <div class="container-login100-form-btn">
                                    <div class="col-md-offset-2">
                                        <p class="text-center">
                                            <label class="text-success">@TempData["order"] </label>
                                            <label class="text-danger">@TempData["failed"] </label>
                                        </p>
                                    </div>
                                </div>

                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                    <input type="hidden" name="id_user" value="@Session["id_user"].ToString()" />
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Name </label>
                                            @* @Html.EditorFor(model => model.nama_user , new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "username", @placeholder = "Username" } })*@
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="text-input" name="text-input" placeholder="Name" value="@Session["username"].ToString()" readonly class="form-control">

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">Book</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="pilihanbuku" id="select" class="form-control">
                                                <option>Please select</option>
                                                @foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
                                                {

                                                    <option value="@item.id_jenisbuku">@item.namabuku (Rp @item.hargabuku)</option>


                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Quantity </label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="qty" name="jumlahbuku" placeholder="Quantity" class="form-control">
                                        </div>                                        
                                    </div>


                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-dark">
                                            <i class="fa fa-dot-circle-o"></i> Add to chart
                                        </button>
                                        <button type="reset" class="btn btn-secondary">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

