﻿@using System.Globalization;
@model IEnumerable<PHIWIKI.Models.view_myorder_transaksi>

<div class="main-content">
    <div class="section_content section_content--p30">
        <div class="container-fluid">
            <div class="overview-wrap">
                <h2 class="title-1">Order History</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Book type</th>
                                    <th>Quantity</th>
                                    <th>Price/item</th>
                                    <th>Total price</th>
                                    <th>Status</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.namabuku</td>
                                        <td>@item.jumlah_buku</td>
                                        <td>@item.harga_satuan.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        <td>@item.harga_total.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        <td>@item.status</td>
                                    </tr>
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>