﻿@model IEnumerable<PHIWIKI.Models.View_keranjangbayar>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">View Payments </h2>                        
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Total Pay</th>
                                    <th>Transaction</th>
                                    <th>id Jne</th>
                                    <th>id Transaction</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th>Delivery status</th>
                                    <th></th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.nama_user</td>
                                        <td>@item.email</td>
                                        <td>@item.totalbayar</td>
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@number" onclick="@{
                                                    ViewBag.transaction = new
                                                    {
                                                         gam = item.buktipembayaran
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.buktipembayaran)" alt="test" />
                                            </button>
                                        </td>
                                        <td>@item.fk_Id_Jne</td>
                                        <td>@item.id_keranjangbayar</td>
                                        <td>@item.status</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#editstatus_@number" onclick="@{
                                                        ViewBag.transaction = new
                                                        {
                                                                id = item.id_keranjangbayar,
                                                                S = item.status,
                                                                DS = item.deliv_status,
                                                                iduser = item.id_user
                                                        };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>@item.deliv_status</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                        ViewBag.transaction = new
                                                        {
                                                                id = item.id_keranjangbayar,
                                                                S = item.status,
                                                                DS = item.deliv_status,
                                                                iduser = item.id_user
                                                        };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                            </div>
                                        </td>                                        
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.transaction = new
    {
        id = item.id_keranjangbayar,
        S = item.status,
        DS = item.deliv_status,
        iduser = item.id_user
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","Transaction")">
                        <input type="hidden" name="id_keranjangbayar" value="@ViewBag.transaction.id" />
                        <input type="hidden" name="fk_id_user" value="@ViewBag.transaction.iduser" />                        
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label" value="@ViewBag.transaction.DS">Delivery Status</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="deliv_status" id="select" class="form-control">
                                    <option>Please select</option>
                                    <option value="ITB">ITB</option>
                                    <option value="has been sent">has been sent</option>
                                    <option value="not yet taken">not yet taken</option>
                                    <option value="not sent yet">not sent yet</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.transaction = new
    {
        id = item.id_keranjangbayar
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "Transaction", new { id = ViewBag.transaction.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@



@*image*@
@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.transaction = new
    {
        gam = item.buktipembayaran
    };
    <div class="modal fade" id="image_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.transaction.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    num++;
}
@*image*@



@*EDIT*@
@{int nom = 1; }
@foreach (var item in Model)
{
    ViewBag.transaction = new
    {
        id = item.id_keranjangbayar,
        S = item.status,
        DS = item.deliv_status,
        iduser = item.id_user
    };
    <div class="modal fade" id="editstatus_@nom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("EditStatus","Transaction")">
                        <input type="hidden" name="id_keranjangbayar" value="@ViewBag.transaction.id" />
                        <input type="hidden" name="fk_id_user" value="@ViewBag.transaction.iduser" />                        
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label" value="@ViewBag.transaction.S">Payments Status</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="status" id="select" class="form-control">
                                    <option>Please select</option>
                                    <option value="not confirmed">not confirmed</option>
                                    <option value="accepted">accepted</option>
                                    <option value="rejected">rejected</option>
                                </select>
                            </div>
                        </div>                        
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nom++;
}
@*END EDIT*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>
