﻿@model IEnumerable<PHIWIKI.Models.tbl_funfact>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Funfact </h2>
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#create">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                        <label class="alert-danger"> @TempData["error"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name Fun fact</th>
                                    <th>Image</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.nama_funfact</td>
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@number" onclick="@{
                                                    ViewBag.funfact = new
                                                    {
                                                         gam = item.funfact
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.funfact)" alt="test" />
                                            </button>
                                        </td>


                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                        ViewBag.funfact = new
                                                        {
                                                                id = item.id_funfact,
                                                                N = item.nama_funfact,
                                                                G = item.funfact
                                                        };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.funfact = new
                                                    {
                                                            id = item.id_funfact
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CREATE*@
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","MasterFunfact")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Name Book</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="nama_funfact" placeholder="Insert Name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-input" class=" form-control-label">File input</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="file-input" name="ImageFile" class="form-control-file">
                            <small class="form-text text-muted"> jpg/jpeg</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*END CREATE*@

@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.funfact = new
    {
        id = item.id_funfact,
        N = item.nama_funfact,
        G = item.funfact
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterFunfact")">
                        <input type="hidden" name="id_jenisbuku" value="@ViewBag.funfact.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Name Book</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="nama_funfact" placeholder="Insert Name" class="form-control" value="@ViewBag.funfact.N">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">File input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="ImageFile" class="form-control-file" value="@ViewBag.funfact.G">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.funfact = new
    {
        id = item.id_funfact
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterFunfact", new { id = ViewBag.funfact.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@

@*image*@
@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.funfact = new
    {
        gam = item.funfact
    };
    <div class="modal fade" id="image_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.funfact.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    num++;
}
@*image*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>
