﻿@model IEnumerable<PHIWIKI.Models.tbl_tutorial>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                 @foreach (var item in Model)
                 {

                <div class="col-md-4">
                    <div class="card">
                        <video style="widht:250px; height:250px" controls>
                            <source src="@Url.Content(item.video)" type="video/mp4" />
                        </video>
                        <div class="card-body">
                            <h4 class="card-title mb-3">@item.deskripsi</h4>                            
                        </div>
                    </div>
                </div>
                 }                
            </div>
        </div>
    </div>
</div>
