﻿@model IEnumerable<PHIWIKI.Models.tbl_jenisbuku>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Master Books </h2>
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#create">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                        <label class="alert-danger">@TempData["error"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name Book</th>
                                    <th>Price</th>
                                    <th>Publication Year</th>
                                    <th>Author</th>
                                    @*<th>Rating</th>*@
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.namabuku</td>
                                        <td>@item.hargabuku</td>
                                        <td>@item.tahun_terbit</td>
                                        <td>@item.penulis</td>
                                        @*<td>@item.rating</td>*@
                                        <td>@item.deskripsi</td>
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@number" onclick="@{
                                                    ViewBag.book = new
                                                    {
                                                         gam = item.gambarbuku
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.gambarbuku)" alt="test" />
                                            </button>
                                        </td>


                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                        ViewBag.book = new
                                                        {
                                                                id = item.id_jenisbuku,
                                                                N = item.namabuku,
                                                                H = item.hargabuku,
                                                                T = item.tahun_terbit,
                                                                P = item.penulis,
                                                                R = item.rating,
                                                                D = item.deskripsi,
                                                                I = item.gambarbuku
                                                        };
                                                    } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.book = new
                                                    {
                                                            id = item.id_jenisbuku
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CREATE*@
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","MasterBook")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Name Book</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="namabuku" placeholder="Insert Name" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Price </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="int" id="text-input" name="hargabuku" placeholder="Insert Price" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Publication Year </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="tahun_terbit" placeholder="Insert Publication Year" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Author </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="penulis" placeholder="Insert Author" class="form-control">
                        </div>
                    </div>
                   
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Description </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="deskripsi" placeholder="Insert Description" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-input" class=" form-control-label">File input</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="file-input" name="ImageFile" class="form-control-file">
                            <small class="form-text text-muted"> jpg/jpeg</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*END CREATE*@

@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.book = new
    {
        id = item.id_jenisbuku,
        N = item.namabuku,
        E = item.hargabuku,
        T = item.tahun_terbit,
        P = item.penulis,
        D = item.deskripsi,
        I = item.gambarbuku
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterBook")">
                        <input type="hidden" name="id_jenisbuku" value="@ViewBag.book.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Name Book</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="namabuku" placeholder="Insert Name" class="form-control" value="@ViewBag.book.N">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Price </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="hargabuku" placeholder="Insert Price" class="form-control" value="@ViewBag.book.E">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Publication Year </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="tahun_terbit" placeholder="Insert Publication Year" class="form-control" value="@ViewBag.book.T">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Author </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="penulis" placeholder="Insert Author" class="form-control" value="@ViewBag.book.P">
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Description </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="deskripsi" placeholder="Insert Description" class="form-control" value="@ViewBag.book.D">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label" value="@ViewBag.book.I">File input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="ImageFile" class="form-control-file" value="@ViewBag.book.I">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.book = new
    {
        id = item.id_jenisbuku
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterBook", new { id = ViewBag.book.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@


@*image*@
@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.book = new
    {
        gam = item.gambarbuku
    };
    <div class="modal fade" id="image_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.book.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    num++;
}
@*image*@



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>
