﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Phiwiki</title>

    @Styles.Render("~/Content/css1")    

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        @if (Convert.ToInt32(Session["role"]) == 2)
        {

            <aside class="menu-sidebar2">

                <div class="menu-sidebar2__content js-scrollbar1">
                    <div class="account2">
                        <div class="content">
                            <a class="js-acc-btn">Hi, @Session["nama"].ToString() (@Session["namarole"].ToString())</a>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Logout
                        </button>
                        <br />
                        <div class="image rounded img-120">
                            <img src="~/Temp/images/icon/logo_phiwiki2.png" alt="Phiwiki" width="150" height="150" />
                        </div>
                    </div>
                    @Html.Partial("NavAdmin")
                </div>
            </aside>

            <div class="page-container2">
                @RenderBody()
            </div>
        }
        else if (Convert.ToInt32(Session["role"]) == 1)
        {
            @Html.Partial("NavUser")

            <div class="page-content--bgf7">
                @RenderBody()
            </div>

        }
        else if (Convert.ToInt32(Session["role"]) == 3)
        {
            <aside class="menu-sidebar2">

                <div class="menu-sidebar2__content js-scrollbar1">
                    <div class="account2">
                        <div class="content">
                            <a class="js-acc-btn">Hi, @Session["nama"].ToString() (@Session["namarole"].ToString())</a>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Logout
                        </button>
                        <br />
                        <div class="image rounded img-120">
                            <img src="~/Temp/images/icon/logo_phiwiki2.png" alt="Phiwiki" width="150" height="150" />
                        </div>
                    </div>
                    @Html.Partial("NavDivisiBendahara")
                </div>
            </aside>

            <div class="page-container2">
                @RenderBody()
            </div>

        }
        else if (Convert.ToInt32(Session["role"]) == 4)
        {
            <aside class="menu-sidebar2">

                <div class="menu-sidebar2__content js-scrollbar1">
                    <div class="account2">
                        <div class="content">
                            <a class="js-acc-btn">Hi, @Session["nama"].ToString() (@Session["namarole"].ToString())</a>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Logout
                        </button>
                        <br />
                        <div class="image rounded img-120">
                            <img src="~/Temp/images/icon/logo_phiwiki2.png" alt="Phiwiki" width="150" height="150" />
                        </div>
                    </div>
                    @Html.Partial("NavDivisiPS")
                </div>
            </aside>
            <div class="page-container2">
                @RenderBody()
            </div>
        }
        else 
        {
            <aside class="menu-sidebar2">

                <div class="menu-sidebar2__content js-scrollbar1">
                    <div class="account2">
                        <div class="content">
                            <a class="js-acc-btn">Hi, @Session["nama"].ToString() (@Session["namarole"].ToString())</a>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Logout
                        </button>
                        <br />
                        <div class="image rounded img-120">
                            <img src="~/Temp/images/icon/logo_phiwiki2.png" alt="Phiwiki" width="150" height="150" />
                        </div>
                    </div>
                    @Html.Partial("NavDivisiMarketing")
                </div>
            </aside>
            <div class="page-container2">
                @RenderBody()
            </div>
        }

    </div>
            @Scripts.Render("~/bundles/js")
</body>

</html>
<!-- end document-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark btn-sm">
                    <a href="@Url.Action("Logout", "User")">
                        <i class="fa fa-dot-circle-o"></i> Yes
                    </a>
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>