﻿<nav class="navbar-sidebar2">
    <ul class="list-unstyled navbar__list">
        <li>
            <a href="@Url.Action("Dashboard","Dashboard")">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>
        </li>

        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-folder-open"></i>Master
                <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="@Url.Action("MasterQuiz","MasterQuiz")">
                        <i class="fas fa-question"></i>Quiz
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterRole","MasterRole")">
                        <i class="fas fa-user"></i>Role
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterCostumer","MasterCostumer")">
                        <i class="fas fa-users"></i>Account
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterBook","MasterBook")">
                        <i class="fas fa-book"></i>Master Book
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("PickupDelivery","PickupDelivery")">
                        <i class="fas fa-box"></i>List Delivery
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Schedule","Schedule")">
                        <i class="fas fa-clock"></i>Schedule
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("TimeLine","TimeLine")">
                        <i class="fas fa-calendar-alt"></i>Timeline
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterReimburse","MasterReimburse")">
                        <i class="fas fa-dollar"></i>Reimburse
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterTutorial","MasterTutorial")">
                        <i class="fas fa-rocket"></i>Tutorial
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterFunfact","MasterFunfact")">
                        <i class="fas fa-bullhorn"></i>Funfact
                    </a>
                </li>
            </ul>
        </li>

        <li class=" has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-comments"></i>View Feedback
                <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="@Url.Action("MasterComplaint","MasterComplaint")">
                        <i class="fas fa-warning"></i>Complaint
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterRating","MasterRating")">
                        <i class="fas fa-star"></i>Rating
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MasterReview","MasterReview")">
                        <i class="fas fa-comment-alt"></i>Review
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Transaction","Transaction")">
                <i class="fas fa-dollar-sign"></i>View Payments
            </a>
        </li>
        <li>
            <a href="@Url.Action("OrderBook","OrderBook")">
                <i class="fas fa-shopping-cart"></i>View Order Book
            </a>
        </li>

        <li>
            <a href="@Url.Action("JawabanQuiz","JawabanQuiz")">
                <i class="fas fa-trophy"></i>User's Quiz Answer
            </a>
        </li>
        <li>
            <a href="@Url.Action("Reimburse","Reimburse")">
                <i class="fas fa-money-bill-alt"></i>Form Reimburse
            </a>
        </li>
        <li class=" has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-book"></i>Report
                <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="@Url.Action("User","Report")">
                        <i class="fas "></i>Report User
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("OrderBook","Report")">
                        <i class="fas"></i>Report Order Book
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Quiz","Report")">
                        <i class="fas"></i>Report Quiz
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Rating","Report")">
                        <i class="fas"></i>Report Rating
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Review","Report")">
                        <i class="fas"></i>Report Review
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Complaint","Report")">
                        <i class="fas"></i>Report Complaint
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Reimburse","Report")">
                        <i class="fas"></i>Report Reimburse
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Timeline","Report")">
                        <i class="fas"></i>Report Timeline
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("ChangePassword", "User")">
                <i class="fas fa-lock"></i>Change Password
            </a>
        </li>
    </ul>
</nav>