﻿

<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo ">
                <a href="#">
                    <img src="~/Temp/images/icon/logo_phiwiki2.png" width="50" height="50" />
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">

                    <li>
                        <a href=" @Url.Action("Index", "Home") ">
                            <i class="fas fa-home"></i>
                            <span class="bot-line"></span>Home
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Order","Order")">
                            <i class="fas fa-shopping-bag"></i>
                            <span class="bot-line"></span>Book Order
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Tutorial","Tutorial")">
                            <i class="fas fa-video"></i>
                            <span class="bot-line"></span>Tutorial
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Rating","Rating")">
                            <i class="fas fa-pencil-square"></i>
                            <span class="bot-line"></span>Feedback
                        </a>
                    </li>                   
                    <li>
                        <a href="@Url.Action("Jadwal","Jadwal")">
                            <i class="fas fa-calendar"></i>
                            <span class="bot-line"></span>Pickup Schedule
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MyOrderList","Order")">
                            <i class="fas fa-shopping-basket"></i>                            
                            <span class="bot-line"></span>MyOrder
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    
                </div>
                <div class="header-button-item js-item-menu">                    
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">                        
                        <div class="content">
                            <a class="js-acc-btn" href="#">@Session["nama"]</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">                               
                                <h5 class="name">
                                    <label>@Session["username"]</label>
                                </h5>
                                <span class="email">@Session["email"]</span>
                            </div>                            
                            <div class="account-dropdown__footer">
                                <a href="@Url.Action("UserOrder", "Order")">
                                    <i class="zmdi zmdi-shopping-basket"></i>Order History
                                </a>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="@Url.Action("ChangeProfile", "User")">
                                    <i class="zmdi zmdi-nature-people"></i>Change Profile
                                </a>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="@Url.Action("ChangePassword", "User")">
                                    <i class="zmdi zmdi-lock-open"></i>Change Password
                                </a>
                            </div>
                            <div class="account-dropdown__footer" >
                               
                                <a href="@Url.Action("Logout","User")">
                                    <i class="zmdi zmdi-power"></i>Sign Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
