﻿
@using PHIWIKI.Models
@model PHIWIKI.Models.tbl_user

@{
    Layout = null;
}
@{
    Layout = null;
    Layout = "~/Views/Landing/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>



</head>
<body>
    <div>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Your Physics Solution!</div>
                    <div class="intro-heading text-uppercase">Nice To Meet You</div>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
                </div>
            </div>
        </header>

        <!-- Services -->
        <section class="page-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Services</h2>
                        <h3 class="section-subheading text-muted">Phiwiki is a book that provides a collection of exercises and solutions about physics</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Order Book</h4>
                        <p class="text-muted">get your book here with easy transactions</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Tutorial</h4>
                        <p class="text-muted">Provides an easy way to solve problems in physics</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-brain fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Quiz</h4>
                        <p class="text-muted">for more challenging questions and get the prize</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Team -->
        <section class="bg-light page-section" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Phiwiki Book</h2>
                        <h3 class="section-subheading text-muted">Easy Physics With Phiwiki</h3>
                    </div>
                </div>
                <div class="row">

                    @foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
                    {

                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="mx-auto rounded" src="@Url.Content(item.gambarbuku)" alt="">
                            <h4>@item.namabuku</h4>
                            <p class="text-muted">@item.tahun_terbit</p>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                    }                    
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <p class="large text-muted">If you want to buy a phiwiki book, please register or login first</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>
