﻿@model IEnumerable<PHIWIKI.Models.tbl_role>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Role </h2>
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#create">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <br />
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                    </div>
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Id Role</th>
                                    <th>Role Name</th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.id_role</td>
                                        <td>@item.role_name</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_role,
                                                            N = item.role_name
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_role
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CREATE*@
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","MasterRole")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Id Role</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="id_role" placeholder="Insert Id" class="form-control">                           
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Name Role</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="role_name" placeholder="Insert name" class="form-control">                           
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit

                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*END CREATE*@

@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.role = new
    {
        id = item.id_role,
        N = item.role_name,

    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterRole")">
                        <input type="hidden" name="id_quiz" value="@ViewBag.role.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">ID</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="id_role" placeholder="Insert ID" class="form-control" value="@ViewBag.role.id">                               
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Role Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="role_name" placeholder="Insert Name" class="form-control" value="@ViewBag.role.N">                            
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.role = new
    {
        id = item.id_role
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterRole", new { id = ViewBag.role.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>

