﻿@using PHIWIKI.Models


<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block">
                <div class="overview-wrap">
                    <br/>
                    <br/>
                    <label class="alert-success">@TempData["feedback"] </label>
                    <label class="alert-danger">@TempData["feedbackfail"] </label>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            @{int number = 1; }
            @foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
            {
                <div class="col">
                    <div class="overview-item overview-item bg-dark">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">

                                            <label class="col-md-12">
                                                <img src="@Url.Content(item.gambarbuku)" style="width:150%; height:150%" />
                                                <label class="text-center text-white">@item.namabuku</label>
                                            </label>
                                            <br/>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <button style="nav-right" data-toggle="modal" data-target="#rating_@number">
                                                    <i class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Rating</i>
                                                </button>
                                            </div>
                                            <div>
                                                <button style="nav-right" data-toggle="modal" data-target="#review_@number">
                                                    <i class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Review</i>
                                                </button>
                                            </div>
                                            <div>
                                                <button style="nav-right" data-toggle="modal" data-target="#complaint_@number">
                                                    <i class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Complaint</i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                </div>
                number++;
            }
        </div>
    </div>
</div>



@{int nom = 1; }
@foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
{

    <div class="modal fade" id="rating_@nom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rating Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Rating","Rating")" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" name="jenisbuku" value="@item.namabuku" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class="form-control-label">Your Rating</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="rating" id="select" class="form-control">
                                    <option value="0">Please select</option>
                                    <option value="1">*</option>
                                    <option value="2">**</option>
                                    <option value="3">***</option>
                                    <option value="4">****</option>
                                    <option value="5">*****</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    nom++;
}


@{int num = 1; }
@foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
{

    <div class="modal fade" id="review_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Review Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Review","Review")" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" name="jenisbuku" value="@item.namabuku" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Review</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="review" id="textarea-input" rows="9" placeholder="Review" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>


                            <button type="reset" class="btn btn-secondary">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    num++;
}




@{int no = 1; }
@foreach (var item in ViewData["jenisbuku"] as IEnumerable<tbl_jenisbuku>)
{

    <div class="modal fade" id="complaint_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Complaint Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Complaint","Complaint")" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" name="jenisbuku" value="@item.namabuku" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Complaint</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="pengaduan" id="textarea-input" rows="9" placeholder="Complaint" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    no++;
}