﻿@model IEnumerable<PHIWIKI.Models.tbl_timeline>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />


@if (Convert.ToInt32(Session["role"]) == 2)
{

    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Timeline </h2>
                            <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#create">
                                <i class="fa fa-plus"></i>  Create
                            </button>
                        </div>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                        </div>
                        <br />
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning" id="example">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Jobdesc</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Division</th>
                                        <th>Progress</th>
                                        <th>Comment</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int number = 1; }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@number</td>
                                            <td>@item.jobdesc</td>
                                            <td>@item.start</td>
                                            <td>@item.end</td>
                                            <td>@item.divisi</td>
                                            <td>@item.progress</td>
                                            <td>@item.comment</td>
                                            <td>@item.status</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                        ViewBag.timeline = new
                                                        {
                                                            id = item.id_timeline,
                                                            J = item.jobdesc,
                                                            S = item.start,
                                                            E = item.end,
                                                            D = item.divisi,
                                                            P = item.progress,
                                                            C = item.comment,
                                                            St = item.status
                                                        };
                                                    } ">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                        ViewBag.timeline = new
                                                        {
                                                            id = item.id_timeline
                                                        };
                                                } ">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                        number++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{ <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Timeline </h2>                           
                        </div>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                        </div>
                        <br />
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning" id="example">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Jobdesc</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Division</th>
                                        <th>Progress</th>
                                        <th>Comment</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int number = 1; }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@number</td>
                                            <td>@item.jobdesc</td>
                                            <td>@item.start</td>
                                            <td>@item.end</td>
                                            <td>@item.divisi</td>
                                            <td>@item.progress</td>
                                            <td>@item.comment</td>
                                            <td>@item.status</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#editdivisi_@number" onclick="@{
                                                        ViewBag.timeline = new
                                                        {
                                                            id = item.id_timeline,
                                                            J = item.jobdesc,
                                                            S = item.start,
                                                            E = item.end,
                                                            D = item.divisi,
                                                            P = item.progress,
                                                            C = item.comment,
                                                            St = item.status
                                                        };
                                                    } ">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>                                                   
                                                </div>
                                            </td>
                                        </tr>

                                        number++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





@*@CREATE@*@
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","TimeLine")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Jobdesc</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="jobdesc" placeholder="Insert Jobdesc" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Start Date </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="start" placeholder="yyyy-mm-dd" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">End Date </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="end" placeholder="yyyy-mm-dd" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Division </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="divisi" placeholder="Insert Division" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Progress </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="progress" placeholder="Insert Progress" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Comment </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="comeent" placeholder="Insert Comment" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Status </label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="status" placeholder="Insert Status" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*@END CREATE@

    @EDIT@*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.timeline = new
    {
        id = item.id_timeline,
        J = item.jobdesc,
        S = item.start,
        E = item.end,
        D = item.divisi,
        P = item.progress,
        C = item.comment,
        St = item.status
    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","TimeLine")">
                        <input type="hidden" name="id_timeline" value="@ViewBag.timeline.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Jobdesc</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="jobdesc" placeholder="Insert Jobdesc" class="form-control" value="@ViewBag.timeline.J">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Start Date </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="start" placeholder="Insert Start Date" class="form-control" value="@ViewBag.timeline.S">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">End Date </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="end" placeholder="Insert End Date " class="form-control" value="@ViewBag.timeline.E">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Division </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="divisi" placeholder="Insert Division" class="form-control" value="@ViewBag.timeline.D">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Progress </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="progress" placeholder="Insert Progress" class="form-control" value="@ViewBag.timeline.P">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Comment </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="comment" placeholder="Insert Comment" class="form-control" value="@ViewBag.timeline.C">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Status </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="status" placeholder="Insert Status" class="form-control" value="@ViewBag.timeline.St">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*@END EDIT@

    @DELETE@*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.book = new
    {
        id = item.id_timeline
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "TimeLine", new { id = ViewBag.book.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*@END DELETE@*@


@*@EDIT divisi@*@
    @{int num = 1; }
    @foreach (var item in Model)
    {
        ViewBag.timeline = new
        {
            id = item.id_timeline,
            J = item.jobdesc,
            S = item.start,
            E = item.end,
            D = item.divisi,
            P = item.progress,
            C = item.comment,
            St = item.status
        };
        <div class="modal fade" id="editdivisi_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","TimeLine")">
                            <input type="hidden" name="id_timeline" value="@ViewBag.timeline.id" />

                             <input type="hidden" id="text-input" name="jobdesc" placeholder="Insert Jobdesc" class="form-control" value="@ViewBag.timeline.J">
                            <input type="hidden" id="text-input" name="start" placeholder="Insert Start Date" class="form-control" value="@ViewBag.timeline.S">
                              <input type="hidden" id="text-input" name="end" placeholder="Insert End Date " class="form-control" value="@ViewBag.timeline.E">
                             <input type="hidden" id="text-input" name="divisi" placeholder="Insert Division" class="form-control" value="@ViewBag.timeline.D">
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Progress </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="progress" placeholder="Insert Progress" class="form-control" value="@ViewBag.timeline.P">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Comment </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="comment" placeholder="Insert Comment" class="form-control" value="@ViewBag.timeline.C">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Status </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="status" placeholder="Insert Status" class="form-control" value="@ViewBag.timeline.St">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-ban"></i> Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        num++;
    }
 


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>$('#example').DataTable();</script>
