﻿
@using System.Globalization;
@using PHIWIKI.Models
@model IEnumerable<PHIWIKI.Models.View_bookhome>

@{

}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col">                
            </div>
            
        </div>
        <div class="row m-t-25">
            
            @{int number = 1; }
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="overview-item overview-item bg-dark">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <label class="col-md-6">
                                    <img src="@Url.Content(item.gambarbuku)" style="width:100%; height:100%" />
                                </label>
                                <div class="text">
                                    <span>Rating : @item.rating_buku</span>
                                    <br />
                                    <span>Rp.@item.hargabuku</span>
                                    <br />
                                    <span>@item.namabuku</span>
                                    <br />
                                </div>
                                <div>
                                    <button style="float:right" data-toggle="modal" data-target="#details_@number">
                                        <i class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Details</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                number++;
            }
           
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="au-card recent-report bg-dark">
                    <div class="au-card-inner">                        
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                            <label class="alert-danger">@TempData["error"]</label>
                        </div>

                        @foreach (var item in ViewData["quiz"] as IEnumerable<tbl_quiz>)
                        {
                            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#quiz_@item.id_quiz" onclick="@{
                                                    ViewBag.home = new
                                                    {
                                                        id = item.id_quiz
                                                    };
                                                    } ">
                                <i class="fa fa-hand-o-right"></i> click here to join the quiz, get the prize!
                            </button>
                            <br />
                            <img src="@Url.Content(item.gambar)" alt="test" />
                            <br />
                        }

                        <div class="chart-info">                            
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card recent-report bg-dark">
                    <div class="au-card-inner">
                        <br />
                        <br />
                        <br />
                        @foreach (var item in ViewData["funfact"] as IEnumerable<tbl_funfact>)
                        {
                            <img src="@Url.Content(item.funfact)" alt="test" />
                        }
                       
                        <div class="chart-info">

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>For more information, please contact order.phiwiki@gmail.com or click here for whatsapp <a href="https://kontakk.com/wa/phiwikinawa">phiwiki WhatsApp</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@{int nomor = 1; }
@foreach (var item in Model)
{
    <div class="modal fade" id="details_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Details Book</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row form-group ">
                        <div class="col-md-6">
                            <br />
                            <img src="@Url.Content(item.gambarbuku)" alt="test" style="width:100%; " />
                        </div>
                        <div class="col-md-6">
                            <label for="textarea-input" class=" form-control-label">Name</label>
                            <input type="text" value="@item.namabuku" class="form-control" readonly>
                            <label for="textarea-input" class=" form-control-label">Price</label>
                            <input type="text" value="Rp. @item.hargabuku" class="form-control" readonly>
                            <label for="textarea-input" class=" form-control-label">Description</label>
                            <textarea rows="4" placeholder="@item.deskripsi" class="form-control" readonly></textarea>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <a class="item" style="float:right" href="@Url.Action("Order", "Order")">
                                <i class="au-btn au-btn--block au-btn--blue m-b-20">Book Order</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}



@foreach (var item in ViewData["quiz"] as IEnumerable<tbl_quiz>)
{
    ViewBag.home = new
    {
        id = item.id_quiz
    };

    <div class="modal fade" id="quiz_@ViewBag.home.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Input Your Answer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("QuizAnswers","Home")">

                        <input type="hidden" name="id_quiz" value="@ViewBag.home.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">1)</label>
                            </div>
                            <div class="col-12 col-md-9">                               
                                <select name="jawaban_quiz" id="select" class="form-control">
                                    <option>Please select your answer</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">2)</label>
                            </div>
                            <div class="col-12 col-md-9">                               
                                <select name="jawaban_benar2"  id="select" class="form-control">
                                    <option>Please select your answer</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">3)</label>
                            </div>
                            <div class="col-12 col-md-9">                               
                                <select name="jawaban_benar3" id="select" class="form-control">
                                    <option>Please select your answer</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@*image*@
@{int nom = 1; }
@foreach (var item in Model)
{
    ViewBag.image = new
    {
        gam = item.gambarbuku
    };
    <div class="modal fade" id="image_@nom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.image.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    nom++;
}
@*image*@