﻿@model IEnumerable<PHIWIKI.Models.View_orderbook>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section_content section_content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">View Order </h2>
                        <br />
                        
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                    </div>
                    <br />
                    <div class="table-responsive table--no-card m-b-30">

                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    @*<th>User ID</th>*@
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Quantity</th>
                                    <th>Book Type</th>
                                    <th>Id Transaction</th>
                                    <th>Status</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>

                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@number</td>
                                    @*<td>@item.id_user</td>*@
                                    <td>@item.nama_user</td>
                                    <td>@item.email</td>
                                    <td>@item.jumlah_buku</td>
                                    <td>@item.namabuku</td>
                                    <td>@item.fk_id_keranjangbayar</td>
                                    <td>@item.status</td>

                                </tr>

                                    number++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>