﻿@model IEnumerable<PHIWIKI.Models.tbl_quiz>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Master Quiz </h2>
                        <button type="button" id="btn_submit" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#quiz">
                            <i class="fa fa-plus"></i>  Create
                        </button>
                    </div>
                    <div>
                        <label class="alert-success">@TempData["message"]</label>
                        <label class="alert-danger">@TempData["error"]</label>
                    </div>
                    <br />

                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" id="example">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Question Name</th>
                                    <th>Answer(1)</th>
                                    <th>Answer(2)</th>
                                    <th>Answer(3)</th>
                                    <th>Question Pictures</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int number = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@number</td>
                                        <td>@item.soal_quiz</td>
                                        <td>@item.jawaban_benar</td>
                                        <td>@item.jawaban_benar2</td>
                                        <td>@item.jawaban_benar3</td>
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                         gam = item.gambar
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.gambar)" alt="test" />
                                            </button>
                                        </td>

                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-placement="top" title="Edit" data-toggle="modal" data-target="#edit_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_quiz,
                                                            Q = item.soal_quiz,
                                                            A = item.jawaban_benar,
                                                            A2 = item.jawaban_benar2,
                                                            A3 = item.jawaban_benar3,
                                                            G = item.gambar
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-placement="top" title="Delete" data-toggle="modal" data-target="#delete_@number" onclick="@{
                                                    ViewBag.quiz = new
                                                    {
                                                            id = item.id_quiz
                                                    };
                                                } ">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*CREATE*@
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Create","MasterQuiz")">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Question Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="soal_quiz" placeholder="Insert Question Name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">(1)Answer</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="jawaban_benar" id="select" class="form-control">
                                <option>Please select</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">(2)Answer</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="jawaban_benar2" id="select" class="form-control">
                                <option>Please select</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">(3)Answer</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="jawaban_benar3" id="select" class="form-control">
                                <option>Please select</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-input" class=" form-control-label">File input</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="file-input" name="ImageFile" class="form-control-file">
                            <small class="form-text text-muted"> jpg/jpeg</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit

                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@*END CREATE*@

@*EDIT*@
@{int nomor = 1; }
@foreach (var item in Model)
{
    ViewBag.quiz = new
    {
        id = item.id_quiz,
        Q = item.soal_quiz,
        A = item.jawaban_benar,
        A2 = item.jawaban_benar2,
        A3 = item.jawaban_benar3,
        G = item.gambar

    };
    <div class="modal fade" id="edit_@nomor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Quiz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("Edit","MasterQuiz")">
                        <input type="hidden" name="id_quiz" value="@ViewBag.quiz.id" />

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Question Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="soal_quiz" placeholder="Insert Question Name" class="form-control" value="@ViewBag.quiz.Q">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">(1)Answer</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="jawaban_benar" id="select" class="form-control">
                                    <option value="@ViewBag.quiz.A">@ViewBag.quiz.A </option>
                                    <option value="-">Please Select</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">(2)Answer</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="jawaban_benar2" id="select" class="form-control">
                                    <option value="@ViewBag.quiz.A2">@ViewBag.quiz.A2 </option>
                                    <option value="-">Please Select</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">(3)Answer</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="jawaban_benar3" id="select" class="form-control">
                                    <option value="@ViewBag.quiz.A3">@ViewBag.quiz.A3</option>
                                    <option value="-">Please Select</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">File input</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="ImageFile" class="form-control-file" value="@ViewBag.quiz.G">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    nomor++;
}
@*END EDIT*@

@*DELETE*@
@{int no = 1; }
@foreach (var item in Model)
{
    ViewBag.quiz = new
    {
        id = item.id_quiz
    };
    <div class="modal fade" id="delete_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete item?
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Yes", "Delete", "MasterQuiz", new { id = ViewBag.quiz.id }, new { @type = "button", @class = "btn btn-danger btn-sm" })
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    no++;
}
@*END DELETE*@



@*image*@
@{int num = 1; }
@foreach (var item in Model)
{
    ViewBag.quiz = new
    {
        gam = item.gambar
    };
    <div class="modal fade" id="image_@num" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content(@ViewBag.quiz.gam)" alt="test" />
                </div>
            </div>
        </div>
    </div>
    num++;
}
@*image*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>$('#example').DataTable();</script>

