﻿@model PHIWIKI.Models.tbl_user

<div class="page-container2">
    <div class="main-content">
        <div class="section_content section_content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header text-center">
                                <strong>Change Password</strong>
                            </div>
                            <div class="card-body card-block">

                                <div class="container-login100-form-btn">
                                    <div class="col-md-offset-2">
                                        <p class="text-center">
                                            <label class="text-success">@TempData["validYes"]</label>
                                            <label class="text-danger">@TempData["validNo"] @TempData["failedpass"]</label>
                                            @*<label class="text-danger">@TempData["failedpass"]</label>*@
                                        </p>
                                    </div>
                                </div>

                                <form action="" method="post">


                                    <input type="hidden" name="id_user" value="@Session["id_user"]" />

                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" id="text-input" name="password" placeholder="Current Password" class="form-control">
                                        @*@Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "password", @placeholder = "New Password" } })*@
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" id="text-input" name="newpassword" placeholder="New Password" class="form-control">
                                        @*@Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "password", @placeholder = "New Password" } })*@
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" id="text-input" name="confirmpassword" placeholder="Confirm New Password" class="form-control">
                                        @*@@Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "confirmpassword", @placeholder = "Confirm Password" } })@*@

                                    </div>

                                    <br />
                                    <button class="au-btn au-btn--block btn btn-dark m-b-20" type="submit">Confirm</button>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

