﻿@model PHIWIKI.Models.tbl_user

<div class="page-container2">
    <div class="main-content">
        <div class="section_content section_content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header text-center">
                                <strong>Change Profile</strong>
                            </div>
                            <div class="card-body card-block">

                                <div class="container-login100-form-btn">
                                    <div class="col-md-offset-2">
                                        <p class="text-center">
                                            <label class="text-success">@TempData["editprofile"]</label>
                                        </p>
                                    </div>
                                </div>

                                <form action="" method="post">
                                        <input type="hidden" id="text-input" name="id_user" placeholder="Insert ID" class="form-control" value="@Session["id_user"]">


                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="nama_user" placeholder="Insert Name" class="form-control" value="@Session["nama"]">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">User Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="username" placeholder="Insert Username" class="form-control" value="@Session["username"]" readonly class="form-control">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Email</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="r" id="text-input" name="email" placeholder="Insert Email" class="form-control" value="@Session["email"]" readonly class="form-control">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Nim</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="nim" placeholder="Insert Student ID" class="form-control" value="@Session["nim"]">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Faculty</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="fakultas" placeholder="Insert Fakulty" class="form-control" value="@Session["fak"]">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Campus</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="kampus" placeholder="Insert Campus" class="form-control" value="@Session["kampus"]">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Phone number</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="no_hp" placeholder="Insert Phone number" class="form-control" value="@Session["no_hp"]">
                                            </div>
                                        </div>
                                    <br />
                                    <button class="au-btn au-btn--block btn btn-dark m-b-20" type="submit">Confirm</button>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

