﻿
<link href="~/LandingTemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="~/LandingTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="~/LandingTemplate/css/agency.min.css" rel="stylesheet">

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">You have successfully logged in</div>
            <div class="intro-heading text-uppercase">Welcome To Our Web!</div>
        </div>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<script src="~/LandingTemplate/vendor/jquery/jquery.min.js"></script>
<script src="~/LandingTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/LandingTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="~/LandingTemplate/js/jqBootstrapValidation.js"></script>
<script src="~/LandingTemplate/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="~/LandingTemplate/js/agency.min.js"></script>