﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Permission</title>
</head>
<body>
    <hgroup>
        <h1>403</h1>
        <h2>Forbidden: Access is denied</h2>
        <h2>you do not have permission to view this directory or page </h2>
    </hgroup>
</body>
</html>
