﻿@model PHIWIKI.Models.tbl_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Register</title>

    @Styles.Render("~/Content/css1")
</head>


<body class="animsition">

    <div class="page-wrapper">
        <div class="overflow-auto">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                @*<p><a href="#" class="text-success"> PHIWIKI</a></p>*@
                                <p class="text-secondary">~~~ YOUR BOOK IS HERE ! ~~~</p>
                                <br />
                                <img src="~/Temp/images/icon/logo_phiwiki.jpeg" alt="phiwiki" width="70" height="70">
                                @*<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">*@

                            </a>
                        </div>
                        <div class="login-form">
                            <div class="container-login100-form-btn">
                                <div class="col-md-offset-2">
                                    <p class="text-center">
                                        <label class="text-danger">@TempData["erroruser"]</label>
                                        <label class="text-danger">@TempData["erroremail"]</label>
                                        <label class="text-success">@TempData["success"]</label>
                                    </p>
                                </div>
                            </div>

                            <form action="" method="post">


                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.EditorFor(model => model.nama_user, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "nama_user", @placeholder = "Name" } })
                                    @Html.ValidationMessageFor(model => model.nama_user, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "username", @placeholder = "Username" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "email", @name = "email", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>University</label>
                                    @Html.EditorFor(model => model.kampus, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "kampus", @placeholder = "University" } })
                                    @Html.ValidationMessageFor(model => model.kampus, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>faculty</label>
                                    @Html.EditorFor(model => model.fakultas, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "fakultas", @placeholder = "faculty" } })
                                    @Html.ValidationMessageFor(model => model.fakultas, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>NIM</label>
                                    @Html.EditorFor(model => model.nim, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "NIM", @placeholder = "NIM" } })
                                    @Html.ValidationMessageFor(model => model.nim, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "text", @name = "no_hp", @placeholder = "Phone Number" } })
                                    @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "password_user", @placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.password_user, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    @Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "password", @name = "confirmpassword", @placeholder = "ConfirmPassword" } })
                                    @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger" })
                                </div>

                                @*   @using (Html.Action("SendMailAction", "User", FormMethod.Post, new { @class = "user" })) *@
                                <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">register</button>


                            </form>
                            <div class="register-link">
                                <p>
                                    Already have account?
                                    @Html.ActionLink("Login", "Login")
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/js")
</body>
</html>