﻿@using ReportViewerForMvc;

<div class="map-data m-b-40" style ="margin-left:20px;margin-right:20px;margin-top:30px;">
    <h3 class="title-3 m-b-30">
        <i class=""></i><strong>Report Review</strong>
    </h3>
    <div class="filters">
        <div class="input-group-btn">
            <div class="btn-group">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-primary">Sort By</button>
                <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -173px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="@Url.Action("Review","Report",new { filter = 1})" type="button" tabindex="0" class="dropdown-item">phiwiki 2019</a>
                    <a href="@Url.Action("Review","Report",new { filter = 2})" type="button" tabindex="0" class="dropdown-item">phiwiki 2020</a>
                    <a href="@Url.Action("Review","Report",new { filter = 3})" type="button" tabindex="0" class="dropdown-item">phiwiki II 2020</a>
                    <a href="@Url.Action("Review","Report",new { filter = 0})" type="button" tabindex="0" class="dropdown-item">All Data</a>
                </div>
            </div>
        </div>
    </div>
    <div class="map-wrap m-t-45 m-b-20">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        <div id="vmap" style="height: 284px;"></div>
    </div>
</div>
